services:

  redis:
    image: redis:7-alpine
    container_name: redis-cache
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    restart: unless-stopped

  app:
    image: eclipse-temurin:21-jre-alpine
    container_name: springboot-app
    depends_on:
      - redis
    ports:
      - "8080:8080"
    volumes:
      - ./build/libs/redis-perf-test-0.0.1-SNAPSHOT.jar:/app.jar  # thay tên JAR nếu khác
    command: ["java", "-jar", "/app.jar"]
    environment:
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    restart: unless-stopped

volumes:
  redis-data: